PORT=3000
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=spaceship
DATABASE_PASSWORD=spaceship
DATABASE_NAME=spaceship_x26
DATABASE_SYNCHRONIZE=false
DATABASE_SSL=false
CORS_ORIGINS=http://localhost:5173
